.email {
  /* position: absolute; */
  display: flex;
  width: max-content;
  height: 20px;
  /* left: 360px; */
  color: #162938;
  /* top: 200px; */
  /* line-height: 57px; */
}

.lock {
  /* position: relative; */
  display: flex;
  width: max-content;
  height: 20px;
  /* left: 320px; */
  color: #162938;
  /* top: 210px; */
  /* line-height: 57px; */
}

.lock-2 {
  /* position: absolute; */
  display: flex;
  width: max-content;
  height: 20px;
  /* left: 360px; */
  color: #162938;
  /* top: 300px; */
  /* line-height: 57px; */
}

.user-logo {
  /* position: absolute; */
  display: flex;
  width: max-content;
  height: 20px;
  left: 190px; 
  color: #162938;
  /* bottom: 5px; */
  /* line-height: 57px; */
}

.privacy-policy {
  font-size: 0.8em;
  color: #162938;
  font-weight: 500;
  font-style: underline;
  margin: -15px 30px 15px;
  display: flex;
  justify-content: space-between;
}

label {
  display: inline-block;
  vertical-align: middle;
}

label input[type="checkbox"] {
  vertical-align: middle;
}

.input-box input:focus ~ label,
.input-box input:valid ~ label {
  top: -40%;
  font-size: 0.8em;
  transition: 0.5s;
}

.input-box {
  position: relative;
  width: 85%;
  height: 20px;
  border-bottom: 2px solid #162938;
  margin: 30px auto;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.input-box label {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  font-size: 0.8em;
  color: #162938;
  font-weight: 500;
  pointer-events: none;
}

.input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1em;
  color: #162938;
  font-weight: 600;
  padding: 0 35px 0 5px;
}

.remember-forgot label input {
  accent-color: #162938;
  margin-right: 3px;
}

.remember-forgot a:hover {
  text-decoration: underline;
}

.btn-signup {
  width: 70%;
  height: 45px;
  background: #162938;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1rem;
  color: #ffff;
  font-weight: 500;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-register {
  font-size: 0.9em;
  color: #162938;
  text-align: center;
  font-weight: 500;
  margin: 25px 0 10px;
}

.login-register p a {
  color: #162938;
  text-decoration: none;
  font-weight: 600;
}

.login-register p a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 768px) {
  .input-box,
  .remember-forgot {
    width: 100%;
  }

  .btn-signup {
    width: 100%;
  }
}

