.hero {
  background: url("homie.jpg") center/cover no-repeat;
  width: 100vw;
  height: 100vh;
  align-items: center;
  display: flex;
}
.hero-body {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.hero-title {
  color: white;
  font-size: 50px;
  font-weight: 700;
  margin-top: 20px;
}
.hero-subtitle {
  color: white;
  font-size: 20px;
  font-weight: 500;
  margin-top: 10px;
}
.arrow-down {
  color: white;
  font-size: 50px;
  margin-top: 20px;
  fill: white;
}
.fun-fact {
  width: 100vw;
  height: 120vh;
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.fun-fact-title {
  color: #000000;
  font-size: 3vw;
  font-weight: 700;
  width: 100%;
  height: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.fun-fact-items {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: baseline;
  width: 100%;
  height: 88%;
}
.quotes {
  display: flex;
  height: 38vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
}
.pembatas {
  width: 100vw;
  height: 20vh;
  align-items: center;
  background-color: #00a751;
}

.our-focus-text {
  color: #f5f5f5;
  text-align: center;
  position: relative;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  top: 50%;
  transform: translateY(-50%);
}
.fokus-kami {
  width: 100vw;
  height: 35vh;
}
.fokus-kami-text {
  margin: 0;
  padding: 0;
  text-align: center;
  position: relative;
  color: #000000;
  top: 50%;
  transform: translateY(-50%);
}
.fokus-kami-img {
  width: 100vh;
  height: 100vh;
}
.fauna-img {
  width: 100vw;
  height: 75%;
  display: flex;
  flex-direction: row;
  background-color: #53616f;
}
.border-box-fauna-1 {
  border: 12px solid;
  border-color: #ffc090;
  width: 25%;
  height: 100%;
  box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(2px);
}
.border-box-fauna-2 {
  border: 12px solid;
  border-color: #53616f;
  width: 25%;
  height: 100%;
  box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(2px);
}
.border-box-fauna-3 {
  border: 12px solid;
  border-color: #53616f;
  width: 25%;
  height: 100%;
  box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(2px);
}
.border-box-fauna-4 {
  border: 12px solid;
  border-color: #53616f;
  width: 25%;
  height: 100%;
  box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(2px);
}
.fauna-1 {
  background: url("barbary-singa atlas.jpg") center/cover no-repeat;
  align-items: center;
  width: 100%;
  height: 100%;
  display: flex;
}
.fauna-2 {
  background: url("irish elk.jpg") center/cover no-repeat;
  align-items: center;
  width: 100%;
  height: 100%;
  display: flex;
}
.fauna-3 {
  background: url("takahe.jpg") center/cover no-repeat;
  align-items: center;
  width: 100%;
  height: 100%;
  display: flex;
}
.fauna-4 {
  background: url("lesser bilby.jpg") center/cover no-repeat;
  align-items: center;
  width: 100%;
  height: 100%;
  display: flex;
}
.nama-fauna-1 {
  color: #f5f5f5;
}
.nama-fauna-2 {
  color: #f5f5f5;
}
.nama-fauna-3 {
  color: #f5f5f5;
}
.nama-fauna-4 {
  color: #f5f5f5;
}
.hewan-punah {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container-hewan-punah {
  width: 100vw;
  height: 50%;
  background-color: #eaeef1;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.container-hewan-punah-1 {
  width: 100vw;
  height: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
}
.dunia {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 282.96px;
  height: 142.36px;
  left: 633.42px;
  top: 13.5px;
}
.asia {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 282.96px;
  height: 142.36px;
  left: 633.42px;
  top: 13.5px;
}
.indonesia {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 282.96px;
  height: 142.36px;
  left: 633.42px;
  top: 13.5px;
}
.text-dunia {
  font-size: 45px;
  color: #00a751;
}
.text-asia {
  font-size: 45px;
  color: #00a751;
}
.text-indonesia {
  font-size: 45px;
  color: #00a751;
}
.kuis {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container-kuis {
  width: 100vw;
  height: 100%;
  background-color: #eaeef1;
}

.arrow-down {
  animation: bounce 1s infinite;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(-25%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}