.card-container {
  gap: 50px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 120px;
}
.card-container h1{
  font-weight: bold;
}

.card-row {
 display: block;
 float: left;
 width: 100%;
  gap: 100px;
  display: flex;
  justify-content: center; /* Penambahan properti */
  flex-wrap: wrap;
  margin-bottom: 120px;
}

.card-row .card {
  display: block;
  /* float: left; */
  /* position: relative;  */
  /* right: 4%; */
  width: 250px;
  height: 300px;
  perspective: 1000px;/*buat prespective flip layar*/
  transition: transform 0.8s;
}

.card.flipped{
width: 250px;
height: 300px;
}

.card-inner {
  width: 100%;
  height: 100%;
  text-align: center;
  transform-style: preserve-3d;
  transition: transform 0.8s;
}

.card.flipped .card-inner {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.card-front {
  background-color: transparent;
}

.card-front .face.front {
  z-index: 20;
  overflow: hidden;
  background-position: 50% 50%;
  position: absolute;
  width: 120%;
  height: 120%;
  backface-visibility: hidden;
  bottom: -19px;
  right: -10px;
}

.card-back {
  background-color: #1e1f1f;
  transform: rotateY(180deg);
}

ol, li{
  list-style: disc;
  padding: 5px;
  margin: 5px;
  color: #f1f1f1;
  font-family: cursive;
}

.card-back h3 {
  margin: 0;
  color: #00b3ff;
  font-weight: bold;
  font-size: 20px;
  font-family: cursive;
}

.card-back .play{
  position: absolute;
  width: 80px;
  height: 30px;
  top: 205px;
  left: 60px; 
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f1f1f1;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  color: #000;
}

@media screen and (max-width: 1200px) {
  .card-row {
    width: 105%;
    justify-content: center;
  }
}

@media screen and (max-width: 992px) {
  .card-row {
    width: 110%;
    justify-content: center;
  }
}

@media screen and (max-width: 768px) {
  .card-row {
    width: 115%;
    justify-content: center;
  }
}

@media screen and (max-width: 576px) {
  .card-row {
    width: 120%;
    justify-content: center;
  }
}