.card-container {
  gap: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 120px;
}

.card-row {
 display: block;
 float: left;
 width: 100%;

}

.card {
  display: block;
  float: left;
  position: relative;
  right: 4%;
  width: 100%;
  height: 200px;
  perspective: 1000px;/*buat prespective flip layar*/
  transition: transform 0.8s;
}


.card-inner {
  width: 100%;
  height: 100%;
  text-align: center;
  transform-style: preserve-3d;
  transition: transform 0.8s;
}

.card.flipped .card-inner {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.card-front {
  background-color: transparent;
}

.card-front .face.front {
  z-index: 20;
  overflow: hidden;
  background-position: 50% 50%;
  position: absolute;
  width: 110%;
  height: 110%;
  backface-visibility: hidden;
  bottom: -10px;
  right: -7px;
}

.card-back {
  background-color: #1e1f1f;
  transform: rotateY(180deg);
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  color: #f1f1f1;
  margin-bottom: 10px;
}

h2 {
  margin: 0;
  color: #f1f1f1;
}

.card-back .play{
  position: absolute;
  width: 80px;
  height: 30px;
  top: 300px;
  left: 90px; 
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f1f1f1;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  color: #000;
}

@media screen and (max-width: 1200px) {
  .card-row {
    width: 105%;
    justify-content: center;
    
  }
}

@media screen and (max-width: 992px) {
  .card-row {
    width: 110%;
    justify-content: center;
  }
}

@media screen and (max-width: 768px) {
  .card-row {
    width: 115%;
    justify-content: center;
  }

}

@media screen and (max-width: 576px) {
  .card-row {
    width: 120%;
    justify-content: center;
  }
}
