.hero {
  background: url("homie.jpg") center/cover no-repeat;
  width: 100vw;
  height: 100vh;
  align-items: center;
  display: flex;
}
.hero-body {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.hero-title {
  color: white;
  font-size: 50px;
  font-weight: 700;
  margin-top: 20px;
}
.hero-subtitle {
  color: white;
  font-size: 20px;
  font-weight: 500;
  margin-top: 10px;
}
.arrow-down {
  color: white;
  font-size: 50px;
  margin-top: 20px;
  fill: white;
}
.fun-fact {
  background-color: #f5f5f5;
  width: 100vw;
  height: auto;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.fun-fact-body {
  width: 100%;
  height: 75%;
  align-items: center;
  justify-content: start;
  display: flex;
  padding: 20px;
  flex-direction: column;
}
.fun-fact-title {
  color: #000000;
  font-size: 35px;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 20px;
}
.fun-fact-items {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
.pembatas{
  width: 100vw;
  height: 20vh;
  align-items: center;
  background-color: #00A751;
}

.our-focus-text{
  color: #f5f5f5;
  text-align: center;
  position: relative;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  top: 50%;
  transform: translateY(-50%);
}
.fokus-kami{
  width: 100vw;
  height: 35vh;
}
.fokus-kami-text{
  margin: 0;
  padding: 0;
  text-align: center;
  position: relative;
  color: #000000;
  top: 50%;
  transform: translateY(-50%);
}
.fokus-kami-img{
  width: 100vh;
  height: auto;
  background-color: #f5f5f5;
}
.fauna-img{
  width: 100vw;
  height: auto;
  display: flex;
  flex-direction: row;
  background-color: #53616F;
}
.border-box-fauna-1{
  width: 331.84px;
  height: 523.18px;
  left: calc(50% - 360px/2 - 538.5px);
  top: 0.32px;
  border: 12px solid;
  border-color: #FFC090;
  box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(2px);
}
.border-box-fauna-2{
  width: 331.84px;
  height: 523.18px;
  left: calc(50% - 360px/2 - 538.5px);
  top: 0.32px;
  border: 12px solid;
  border-color: #53616F;
  box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(2px);
}
.border-box-fauna-3{
  width: 331.84px;
  height: 523.18px;
  left: calc(50% - 360px/2 - 538.5px);
  top: 0.32px;
  border: 12px solid;
  border-color: #53616F;
  box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(2px);
}
.border-box-fauna-4{
  width: 331.84px;
  height: 523.18px;
  left: calc(50% - 360px/2 - 538.5px);
  top: 0.32px;
  border: 12px solid;
  border-color: #53616F;
  box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(2px);
}
.fauna-1{
  background: url("barbary-singa atlas.jpg") center/cover no-repeat;
  width: 331.84px;
  height: 523.18px;
  right: 13.45px;
  bottom: 13.45px;
  align-items: center;
  display: flex;
}
.fauna-2{
  background: url("irish elk.jpg") center/cover no-repeat;
  width: 331px;
  height: 523px;
  top: 13.45px;
  left: 13.45px;
  align-items: center;
  display: flex;
}
.fauna-3{
  background: url("takahe.jpg") center/cover no-repeat;
  width: 331px;
  height: 523px;
  top: 13.45px;
  left: 13.45px;
  align-items: center;
  display: flex;
}
.fauna-4{
  background: url("lesser bilby.jpg") center/cover no-repeat;
  width: 331px;
  height: 523px;
  top: 13.45px;
  left: 13.45px;
  align-items: center;
  display: flex;
}