.card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 20px;
  }
  
  .fun-fact-card {
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 8px;
    transition: filter 0.3s;
  }
  
  .fun-fact-card.blur {
    filter: blur(4px);
  }
  
  .fun-fact-card:hover {
    cursor: pointer;
  }
  
  .fun-fact-card .fact {
    text-align: center;
  }
  
  .fun-fact-card .fact h3 {
    margin-top: 0;
  }
  
  .fun-fact-card .fact img {
    width: 100%;
    max-height: 200px;
    object-fit: cover;
    border-radius: 4px;
  }
  
  .fun-fact-card .fact p {
    margin-bottom: 0;
  }
  
  /* Responsiveness */
  @media (max-width: 768px) {
    .card-grid {
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
  
    .fun-fact-card .fact img {
      max-height: 150px;
    }
  }

  .fun-fact-card::after .blur{
    /* ... */
    transition: filter 0.5s;
    
  }
  
  .blur {
    filter: blur(5px);
  }
  
  .description {
    /* ... */
    transition: transform 0.5s;
    transform-style: preserve-3d;
    backface-visibility: hidden;
    transform: rotateY(0);
    display: block;
  }

  .flip {
    transform: rotateY(180deg);
  }
  