.hero {
  background: url("homie.jpg") center/cover no-repeat;
  width: 100vw;
  height: 100vh;
  align-items: center;
  display: flex;
}
.hero-body {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.hero-title {
  position: absolute;
  color: white;
  font-size: 64px;
  font-weight: 700;
  left: 263px;
  top: 344px;
  margin-top: 10px; 
}
.hero-subtitle {
  color: white;
  position: absolute;
  font-size: 18px;
  font-weight: 500;
  left: 263px;
  top: 434px;
  margin-top: 10px; 
}
.about-page{
  display: flex;
  flex-direction: row;
}
.mission-body{
  width: 820px;
  height: 225px;
  margin-top: 316px;
  margin-left: 51px;
  display: flex;
  flex-direction: row;
}
.mission-left{
  width: 279px;
  height: 225px;
  background-color: #53616F;
}
.mission-left-text{
  margin: 0;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  font-size: 24px;
  color: white;
}
.mission-right{
  position: relative;
  margin-left: 51px;
  width: fit-content;
}
.mission-right-text{
  margin: 0;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  text-align: left;
  font-size: 18px;
}
.garis{
  position: absolute;
  width: 820px;
  height: 170px;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #F1EAEA;
  margin-top: 27.5px;
  margin-left: 27.5px;
}
.content{
  height: fit-content;
  width: fit-content;
  display: flex;
  flex-direction: row;
}
.content-teks{
  margin: 0;
  position: relative;
  margin-left: 51px;
  margin-top: 223px;
  width: 820px;
  height: 870px;
  font-size: 18px;
  line-height: 31px;
}
.article{
  position: relative;
  width: 328px;
  height: 1561px;
  margin-top: 141px;
  margin-left: 159px;
  background-color: #D9D9D9;
  text-align: center;
}
.p{
  margin: 10%;
}
.info{
  width: 100%;
  height: 544px;
  margin-top: 343px;
}