.form {
  background-color: white;
  border-radius: 10px;
  width: 550px;
  margin: 20px auto;
  padding: 20px;
  position: absolute;
  left: 875.08px;
  top: 100px;
  /* height: 600px; */
}

.image-login {
  position: absolute;
  width: 1123px;
  height: 1010px;
  right: 158px;
  top: 1px;
  transform: scale();
}

.text-login {
  top: 500px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 52.8886px;
  line-height: 64px;
  text-align: center;
  color: #6eab40;
}

.form-body {
  text-align: left;
  padding: 20px 10px;
}

.form-body > * {
  padding: 5px;
}

.form__label {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 19.6795px;
  line-height: 24px;
  color: #000000;
}

.form__input {
  width: 514.13px;
  height: 55.35px;
  left: 875.08px;
  top: 410.98px;
  border-radius: 15.31px;
  border-color: rgba(134, 208, 79, 1);
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14.7596px;
  line-height: 18px;
}

.btn {
  position: absolute;
  width: 167.28px;
  height: 45.15px;
  left: 200px;
  top: 410.98px;
  background: #7abd48;
  border-radius: 9.40571px;
  border-color: transparent;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 24.5993px;
  color: #ffffff;
}
